* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  /* Image */
  background-image: url("https://img.freepik.com/free-photo/background-bamboo-surface-mat_1339-4952.jpg?w=1060&t=st=1657094098~exp=1657094698~hmac=78107738ab200060f2fed49b156fd34d5a2d2777479b2760d7376c4d761014d2");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: rgb(56, 56, 56);
}
